.makedep
*.o
*.obj
*.a
*.dll
*.lib
build/bin/dsi
build/bin/edep
build/bin/getpath
buildConfig.make
all/*.c
.build*
.embedthis
bin/benchMpr
bin/charGen
bin/http
bin/i686*
bin/runProgram
bin/makerom
bin/testMpr
*.old
src/include/buildConfig.h
*.dylib
extensions
doc/api/mpr/html
doc/api/mpr/xml
build/bin/buildConfig.sh
bin/x86*
all/*.h
.appweb.pid
bench.save
